#about {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "a b b"
        "d d c"
        "e f f";
    grid-template-columns: 1fr 1fr 1fr;

    /* Why isn't 'max-width' working? It's working just like 'width' and just sets a fixed width for my section. I want it to be responsive, so I could resize the window and see it working propperly. I would appretiate any help.*/
    max-width: 800px;

    justify-self: center;
    margin: auto;
}

#about img {
    width: 100%;
}

#smart-img {
    grid-area: a;
}

#smart-p {
    grid-area: b;
    align-self: center;
}

#reliable-img {
    grid-area: c;
}

#reliable-p {
    grid-area: d;
    align-self: center;
}

#available-img {
    grid-area: e;
}

#available-p {
    grid-area: f;
    align-self: center;
}
